*{
    margin: 0;
    padding: 0;
}
body {
    background: #eee;
    color: #333;
}

h1 {
    font-size: 22px;
    color: blue;
}
<<<<<<< HEAD
=======
div{
	width: 200px;
	height: 200px;
	background-color: yellow;
}
>>>>>>> 704eb5b477925d2eb526e738cbd5058fb912045f
